Link {
text-decoration: none;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    max-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    text-decoration: none;
}

.nav-links {
    flex: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0, 10px, 0, 10px;
}

.hidden-menu button {
display: none;
}

.rightsideLink {
justify-content: flex-end;    
}


/* @media only screen and (max-width: 880px) {
    nav a,
    nav h3 {
    margin: auto .3em;
    font-size: 14px;
    }
    nav a,
    nav h3 {
    margin: auto .3em;
    padding: 5px 5px;
    font-size: 14px;
    }
} */


/* @media only screen and (max-width: 716px) {
    .rightside {
        display: none;
    }
    .hidden-menu button {
        display: flex;
        position: absolute;
        right: 50px;
        top: 20px;
        padding: 15px 15px;
        background-color: hsla(38, 22%, 90%, 0);
        background-image: url(''); 
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: contain;
        border: none;
        border-radius: 5px;
        margin-top: 0;
    }
    #hidden {
    position: absolute;
    padding: 8em; 
    right: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(115deg, #131314, #000000) ;
    width: 80%;
    display: flex;
    flex-direction: column;
    }

    .rightsideLink {
    color:#fff;
    background-color: rgb(0, 0, 0, 0);
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    }
    nav .rightside {
    justify-content: center;
    }


} */